body {
    background-image: url("../images/bananas.png");
    margin: 0 auto;
}

#header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    /*height: 50px;
    line-height: 50px;*/
    margin-bottom: 25px; /* test number */
}

.headerName {
    width: 960px;
    box-sizing: border-box; /*includes padding and border in the total width and height*/
    margin: 0 auto;
    position: relative;
}

h1 {
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0 auto;
    display: inline-block; /*fits div to content*/
}

.headerNav {
    margin: 0 auto;
    float: right;
}
.headerNav li{
    display: inline-block;
    text-align: right;
    padding: 10px;
    list-style-type: none;
    vertical-align: middle;
}

a {
    color: #777777;
    text-decoration: none;
}

.entireContent {
    width: 960px;
    box-sizing: border-box; /*includes padding and border in the total width and height*/
    margin: auto; /*with set width, auto margin will split remaining space and "center" element*/
    padding: 25px; /* test number */
    background-color: #ffffff;
    border: 0.5px solid #dddddd;
}
.mainContent {
    padding: 25px;
}

h2 {
    color: #4aaaa5;
}

img {
    height: auto;
    width: 300px;
}

#jihongImg {
    float: left;
}

.imgBox {
    
}

.imgCaption {
    background-color: #4aaaa5;
    color: white;
    width: 300px;
    text-align: center;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0 15px 0;
    border: 0.5px solid #dddddd;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: none;
    padding: 10px 25px;
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
}

.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    margin-top: 25px; /* test number */
    padding: 25px;
    text-align: center;
    /*Make a "sticky footer." A sticky footer tutorial can be found [here](https://css-tricks.com/couple-takes-sticky-footer/).*/
}

.headingText {
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 2px solid #dddddd;
}

.otherText {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}